/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
/bower_components

Homestead.json
Homestead.yaml
.env
/laradock/
/public/uploads/
app/Mail/UserEvent.php
resources/views/emails/user/
"\331\204\330\245\303\227]\303\227"
