

@font-face {
    font-family: DroidKufi-Bold;
    src: url(../fonts/DroidKufi-Bold.ttf);
}

@font-face {
    font-family: DroidKufi-Regular;
    src: url(../fonts/DroidKufi-Regular.ttf);
}

@font-face {
    font-family: JFFlatregular;
    src: url(../fonts/JFFlatregular.ttf);
}

body {
    font-family: DroidKufi-Regular;
}

clier {
    clear: both;
    display: inline-block;
}

/*header*******************************/
.header-top {
    background: #fff;
    padding: 7px 0px 0px;
    border-bottom: 1px solid #f2f1ed;
}

.heder-top-right p {
    display: inline;
    font-family: JFFlatregular;
    margin-right: 20px;
}

span {
    font-size: 14px;

}

.bootom ul.list-inline {
    display: inline;
    margin-right: 11px;
}

.bot-com-2 {
    display: inline;
    margin-bottom: 10px;
    background: #fff;
    color: #000;
    font-size: 14px;
    border: 1px solid #dad6d6;
    transition: .3s all;
}

.bot-com-2:hover {
    background: #165666;
}

.bot-com-2 a {
    color: #000;
    text-decoration: none;
    transition: .3s all;
}

.bot-com-2:hover a {
    color: #fff;
    text-decoration: none;
}

.liste {
    margin-top: 11px;
}

span i {
    font-size: 16px;
    color: #eaaa15;
}

.heder-top-right {
    margin-top: 8px;
    font-family: JFFlatregular;
}

#Container .mix {
    display: none;
}

.heder-top-left a {
    color: #000;
    font-size: 14.22px;
    text-decoration: none;
}

nav.navbar.navbar-default {
    background: #fff;
    border: none;
}

.head-b {
    height: 100%;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #eaaa15;
    background: none;
    font-size: 14px;
    font-family: DroidKufi-Regular;
}

.navbar-default .navbar-nav > li > a {
    color: #000;
    background: none;
    font-size: 14px;
    font-family: DroidKufi-Regular;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #eaaa15;
    background: none;
    font-size: 14px;
    font-family: DroidKufi-Regular;
    transition: all .3s;
}

.aside {
    margin-top: 24px;
}

div#bs-example-navbar-collapse-1 {
    margin-top: 46px;
}

button {
    width: 109px;
    height: 38px;
    border-radius: 40px;
    border: none;
    outline: none;
}

button.but-1 {
    background: #165666;
    color: #fff;
    font-size: 14px;
}

button.but-2 {
    background: #fff;
    color: #000;
    font-size: 14px;
    border: 1px solid #dad6d6;
}

.bottom-headre {
    margin-top: -45px;
}

/**************************************header*/

/*slider**************************************/
div.slid {
    background: rgba(0, 0, 0, 0.75);
    height: 538px;
    width: 100%;
}

section.slider {
    background: url(../images/slider.png) fixed no-repeat;
    height: 538px;
    width: 100%;

}

.cors {
    width: 500px;
    height: 400px;
    overflow: hidden;
    margin-top: 49px;
    background: rgba(0, 0, 0, 0.43);
    border-radius: 7px;
    padding: 30px;
}

button.btn.dropdown-toggle.btn-info {
    height: 50px;
    width: 280px;
    text-align: center;
    border-radius: 30px;
    outline: none;
}

.dropdown-menu.open {
    width: 280px;
    border-radius: 6px
}

.dropdown-menu .inner li {
    border-bottom: 1px solid #eee;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    margin-bottom: 30px;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    display: inline-block;
    overflow: hidden;
    width: 100%;
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
    position: absolute;
    top: 50%;
    margin-top: -2px;
    vertical-align: middle;
    color: #333132;
    font-size: 16px;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 7px dashed;
    border-top: 4px solid \9;
}

.btn-info {
    color: #888888;
    background-color: #fff;
    border-color: #fff;
}

button.se {
    width: 280px;
    height: 50px;
    color: #000;
    font-family: DroidKufi-Bold;
    font-size: 16px;
    background: #fdb813;
    transition: .3s all;
}

button.se:hover {
    background: #165666;
    color: #fff;
}

.cors-1 button.se:hover {
    background: #fff;
    color: #000;
}

.btn-info:active:hover, .btn-info.active:hover, .open > .dropdown-toggle.btn-info:hover, .btn-info:active:focus, .btn-info.active:focus, .open > .dropdown-toggle.btn-info:focus, .btn-info:active.focus, .btn-info.active.focus, .open > .dropdown-toggle.btn-info.focus {
    color: #fff;
    background-color: #fff;
    border-color: #fff;
    outline: none !important;
}

.btn-info:hover {
    color: #888888;
    background-color: #fff;
    border-color: #fff;
}

.btn-info:focus, .btn-info.focus {
    color: #888;
    background-color: #fff;
    border-color: #fff;
    outline: none !important;
}

.bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
    outline: none !important;
    outline-offset: none !important;
}

.btn-info:active:hover, .btn-info.active:hover, .open > .dropdown-toggle.btn-info:hover, .btn-info:active:focus, .btn-info.active:focus, .open > .dropdown-toggle.btn-info:focus, .btn-info:active.focus, .btn-info.active.focus, .open > .dropdown-toggle.btn-info.focus {
    color: #888;
    background-color: #fff;
    border-color: #fff;
    outline: none !important;
}

.cors p {
    text-align: center;
    margin-top: 20px;
}

.cors p a {
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    font-family: DroidKufi-Bold;
    color: #fff;
    text-decoration: none;
}

.slider-right {
    margin-top: 35px;
    margin-bottom: 35px;
}

.slider-right h2 {
    font-size: 20px;
    color: #fdb813;
    font-family: DroidKufi-Bold;
    margin-bottom: 33px;
}

.slider-right p {
    font-size: 14px;
    color: #fff;
    margin-bottom: 60px;
    line-height: 30px;
}

.slider-but button, .Details-but button {
    transition: .3s all;
}

.slider-but button:hover, .Details-but button:hover {
    background: #fdb813;
    color: #000;
}

button.slid-but-1 {
    width: 130px;
    height: 43px;
    color: #fff;
    background: #165666;
    border: 1px solid #165666;
}

button.slid-but-2 {
    width: 138px;
    height: 43px;
    color: #eaaa15;
    font-size: 14px;
    background: rgba(41, 39, 35, 0.65);
    border: 1px solid #eaaa15;
}

/**************************************slider*/

/*title**************************************/
section.title {
    padding: 65px 0px;
}

.heit-title.text-center {
    margin-bottom: 38px;
}

.heit-title p {
    font-size: 20px;
    color: #000;
    font-family: DroidKufi-Bold;
}

.tit {
    margin-bottom: 27px;

}

span.tit-h2 {
    color: #165666;
    font-size: 14px;
    font-family: DroidKufi-Bold;
}

span.tit-icon i {
    width: 63px;
    height: 63px;
    background: #fdb813;
    border-radius: 50%;
    text-align: center;
    line-height: 63px;
    font-size: 24px;
    color: #251f17;
    transition: .3s all;
}

.tit:hover span.tit-icon i {
    background: #165666;
    color: #fff;
    cursor: pointer;
}

.tit-p p {
    font-size: 12px;
    color: #000000;
    line-height: 25px;
}

/**************************************title*/
/*Details**************************************/
.Details {
    background: url(../images/Details.png) fixed no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
}

.Detail {
    background: rgba(22, 86, 102, 0.82);
    background-size: cover;
    height: 400px;
    width: 100%;
    padding: 106px 0px;
}

.Details h2 {
    color: #fdb813;
    font-size: 20px;
    margin-bottom: 32px;
}

.Details p {
    color: #fff;
    font-size: 14px;
    width: 975px;
    margin: 0 auto;
    margin-bottom: 34px;
    line-height: 28px;
}

/**************************************Details*/
/*map******************************************/
.map-map-cors {
    position: relative;
}

.cors-1 {
    width: 450px;
    height: 400px;
    background: #165666;
    border-radius: 7px;
    padding: 44px 84px;
}

.cors-1 h5{
    color: #fff;
}

.cors-1 {
    width: 450px;
    height: 440px;
    background: #165666;
    border-radius: 7px;
    padding: 30px 84px;
    position: absolute;
    top: 40px;
    z-index: 887;
}

.cors-right-1 p {
    font-size: 20px;
    text-align: center;
    margin: auto;
    color: #fff;
    margin-bottom: 39px;
    text-decoration: none;
}

.cors-right-1 a {
    font-size: 20px;
    text-align: center;
    margin: auto;
    color: #fff;
    margin-bottom: 39px;
    text-decoration: none;
}

.owl-carousel .owl-item img {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
}

.clint-right {
    display: -webkit-inline-box;
}

span.Client-img {
    display: inline;
    margin-top: -16px;
}

span.work {
    display: block;
}

.item {
    margin-top: 20px;
}

span.name {
    font-size: 16px;
    color: #165666;
}

span.work {
    font-size: 16px;
    color: #fdb813;
}

.clint-right {
    width: 530px;
    padding: 30px 10px;
    background: #165666;
    border-radius: 8px;
    position: relative;
    margin-top: 20px;
}

.clint-right p {
    font-size: 12px;
    color: #fff;
    line-height: 2;
    z-index: 99999999999999999999;
    position: relative;
}

i.fa.fa-comments {
    position: absolute;
    font-size: 97.36px;
    top: 71px;
    z-index: 0;
    color: #1f6b7e;
    opacity: .7
}

.clint-right:after {
    content: "";
    position: absolute;
    border-bottom: 14px dashed;
    border-top: 4px solid \9;
    top: -14px;
    color: #165666;
}

.owl-nav {
    display: none;
}

/*****************************************map*/

.owl-dots {
    text-align: center;
    margin-top: 50px;
}

.owl-dot {
    display: inline-block;
}

.owl-dot span {
    height: 12px;
    width: 12px;
    background: #fdb813;
    border: none;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    border-radius: 50%;
}

.owl-dot.active {
    height: 23px;
    /* width: 25px; */
    padding: 2px;
    border-radius: 50%;
    background: none;
    text-align: center;
    display: inline-block;
}

.owl-dot.active span {
    height: 17px;
    width: 17px;
}

.owl-slid {
    padding: 70px 0px;
}

.owl-slid-hite.text-center {
    margin-bottom: 30px;
}

.owl-slid-hite p {
    font-size: 20px;
    color: #000;
    font-family: DroidKufi-Bold;
    padding-top: 60px;
}

/****************************************map*/

/*footer*****************************************/
.footer-top {
    background: #353535;
    padding: 50px 0px 45px 0px;
    color: #fff;
}

p.first {
    font-size: 18px;
}

.footer-top .list-unstyled a {
    color: #fff;
    text-decoration: none;
    line-height: 2;
    font-size: 13px;
    transition: .3s all;
}

.footer-top .list-unstyled li:hover a {
    color: #fdb813;
}

.fot-im {
    width: 267px;
    height: 200px;
    overflow: hidden;
    border-radius: 6px;
    margin-top: 30px;
}

.fot-im img {
    width: 100%;
    border-radius: 6px;

}

.conect-me {
    margin-top: 30px;
    font-family: JFFlatregular;
    font-size: 16px;
}

.conect-me i {
    font-size: 18px;
    color: #fdb813;
    width: 17px;
    text-align: center;
}

ul.list-unstyled {
    margin-top: 25px;
}

.list-unstyled i {
    font-size: 17px;
    color: #fdb813;
}

.conect-me p {
    line-height: 2;
}

.footer-top hr {
    margin-top: 20px;
    margin-bottom: 40px;
    border: 0;
    border-top: 1px solid #737373;
}

/*footer-buttom*/
.footer-bottom {
    background: #eaaa15;
    padding: 12px 0px;
}

p.footer-bottom-p {
    color: #000;
    font-size: 12px;
    margin-top: 9px;
}

/****************************************footer*/

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background: none;
}

.dropdown-menu.inner li {
    outline: none;
}

.dropdown-menu.inner li a {
    outline: none;
}

.bootstrap-select.btn-group .dropdown-menu {
    overflow: hidden;

}

ul.dropdown-menu.inner {
    margin: auto;
    text-align: left;
}

ul.dropdown-menu.inner {
    width: 80%;
    margin: 0 auto !important;
    text-align: left;
}

.dropdown-menu li a {
    display: block;
    padding: 8px 20px;
    transition: .2s all;
}

.dropdown-menu > li > a {
    transition: .2s all;
}

.dropdown-menu.open {
    border-radius: 20px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {

}

.slid-detils-img {
    width: 122px;
    height: 126px;
    overflow: hidden;
    margin: auto;
    float: left;
    margin-top: 17px;
}

img.slid-detils {
    max-width: 100%;
    /* margin: 0 auto; */
    /* text-align: center; */
    border-radius: 50%;
    height: 100%;
    margin: auto;
    text-align: center;
}

.slid-detils-img:hover .file-upload__input{
    opacity: 1 !important;
    border: 0;
    right: -12px;
}

.slid-detils-wright h2 {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 17px;
}

span.detils-h2 {
    font-size: 18px;
    color: #eaaa15;
}

.slid-detils-wright p {
    font-size: 14px;
    color: #fff;
    line-height: 23px;
}

span.detils-p {
    color: #eaaa15;
}

a.send-mas {
    float: left;
    width: 200px;
    height: 49px;
    background: #165666;
    color: #fff;
    text-align: center;
    line-height: 49px;
    text-decoration: none;
    border-radius: 30px;
    margin-top: 60px;
}

span.tit-icon.tit-out i {
    width: 43px;
    height: 43px;
    line-height: 43px;
    font-size: 19px;
}

.list-23 li {
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    border-radius: 50%;
}

.heder-top-left .list-23 a {
    color: #fff;
    font-size: 14.22px;
    text-decoration: none;
    margin: 0px
}

.list-23 {
    margin-top: 0px

}

.list-23 li.facebook-1 {
    background: #325c94;
}

.list-23 li.twitter-1 {
    background: #00abdc;
}

.list-23 li.youtube-1 {
    background: #f20026;
}

.list-23 li.instagram-1 {
    background: #2a5985;
}

.list-23 li.google-1 {
    background: #dc543a;
}

.li-list a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.li-list .active {
    text-decoration: none;
    color: #fdb813 !important;
    font-size: 18px !important;
    font-weight: bold;
}

.li-list {
    height: 238px;
    line-height: 238px;
}

.SEND input {
    width: 100%;
    margin-bottom: 10px;
    height: 35px;
    border-radius: 4px;
    border: 1px solid #d4c4c4;
    padding: 10px;
    outline: none;
}

.SEND textarea {
    width: 100%;
    margin-bottom: 10px;
    height: 128px;
    border-radius: 4px;
    border: 1px solid #d4c4c4;
    padding: 10px;
    outline: none;
}

.SEND button.hvr-float-shadow {
    float: left;
    margin-top: 28px;
    background: #353535;
    color: #fff;
}

section.with-us {
    padding: 60px 0px;
}

section.with-us a {
    color: #165666;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    position: relative
}

section.with-us a:after {
    content: "";
    position: absolute;
    right: 0px;
    top: 34px;
    background: #165666;
    width: 35px;
    height: 2px;
}

section.with-us p {
    font-size: 12px;
    line-height: 26px;
    margin-top: 16px;
    color: #000;
}

.connect-weth-me input {
    width: 100%;
    position: relative;
    padding: 0px 27px;
    height: 36px;
    border: 1px solid #cac8c8;
    border-radius: 2px;
    outline: none;
    margin-bottom: 20px;
}

span.icon-with-us {
    position: absolute;
    right: 11px;
    z-index: 9999999;
    top: 9px;
}

section.connect-weth-me {
    padding: 60px 0px;
}

a.contanact-map {
    width: 140px;
    height: 40px;
    line-height: 40px;
    float: left;
    color: #fff;
    background: #356;
    border-radius: 30px;
    text-align: center;
    margin-top: 32px;
    text-decoration: none;
}

.modarsyy-1 .form {
    width: 580px;
    margin: auto;
    overflow: hidden;
    padding: 44px 48px;
    background: #fff;
    margin-bottom: 66px;
    border-radius: 10px;
}

section.modarsy-2 {
    background: #f9f9f9;
    padding-bottom:80px;

}

.modarsyy-1 .form input {
    width: 100%;
    border: 1px solid #eee;
    background: #fff;
    padding: 0px 10px;
    height: 44px;
    margin-bottom: 30px;
    outline: none;
    border-radius: 47px;
}

.modarsyy-1 .form input[type="text"] {
    padding-right: 126px;
}
.modarsyy-1 .form input[type="number"] {
    padding-right: 126px;
}

.modarsyy-1 .form select {
    width: 100%;
    border: 1px solid #eee;
    background: #fff;
    padding: 0px 10px;
    height: 44px;
    margin-bottom: 30px;
    outline: none;
    border-radius: 47px;
    padding-right: 126px;
}

.modarsyy-1 .form radio {
    border: 1px solid #eee;
    background: #fff;
    padding: 0px 10px;
    height: 44px;
    margin-bottom: 30px;
    outline: none;
    border-radius: 47px;
}

.modarsyy-1 .form textarea {
    width: 100%;
    border: 1px solid #eee;
    background: #fff;
    padding: 10px 10px;
    height: 169px;
    margin-bottom: 30px;
    outline: none;
    border-radius: 8px;
    text-align: center;
}
.file {
    visibility: hidden;
    position: absolute;
}
.form label.label {
    width: 20%;
    float: right;
    position: absolute;
    background-color: #dedede;
    height: 45px;
    border-radius: 0px 20px 20px 00px;
    line-height: 45px;
    padding-right: 10px;
    font-size: 12px;
    color: #555;
    text-align: center;
}
.modarsyy-1 .form input[type="file"]{
    padding-top: 10px;

}
.modarsyy-1 .form input[type="submit"]{
    background-color: #fdb813 !important;
    padding: 0;

}

.caarss > span{
    margin-left: 50px;
}

.circle{
    height: 36px;
    border-radius: 30px;
    display: inline-block;
    padding: 8px 12px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #e9e9e9;
    margin: 0 10px !important;
}

.modarsyy-1 .form label input {
    width: 18px !important;
    height: 15px !important;
    margin-bottom: 65px !important;;
}

.modarsyy-1 .form button {
    width: 150px;
    height: 40px;
    border-radius: 40px;
    border: none;
    display: -webkit-box;
    outline: none;
    margin: auto;
    text-align: center;
    float: none;
    background: #165666;
    color: #fff;
}

.modarsy-2 section.with-us a:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 108%;
    background: #165666;
    width: 45px;
    height: 2px;
    transform: translate(-50%, -50%);
}

secrion.mod-arsy .col-md-4.dede:first-child {
    padding: 20px;
    border: 1px solid #eee;
    background: #fff;
    margin-top: -170px;
}

.dede .slid-detils-wright h2 {
    font-size: 18px;
    font-weight: bold;
    color: #eaaa15;
    margin-bottom: 17px;
}

.dede .slid-detils-wright p {
    font-size: 14px;
    color: #165666;
    line-height: 23px;
}

.dede span {
    font-size: 14px;
    color: #eaaa15;
}

.dede hr {
    margin-top: 12px;
    margin-bottom: 12px;
    border: 0;
    border-top: 1px solid #eee;
}

.first-mod-arsy {
    margin-bottom: 190px;
}

.dede h2.dede-h2 {
    text-align: center;
    font-size: 16px;
    margin-top: 70px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #165666;
    position: relative;
}

.dede h2.dede-h2:after {
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    background: #ddd;
    left: 50%;
    top: 154%;
    transform: translate(-50%, -50%);
}

.dede input {
    width: 100%;
    outline: none;
    padding: 0px 15px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid #ddd;
    margin: 0 0 30px 0px;

}

.dede textarea {
    width: 100%;
    outline: none;
    padding: 0px 10px;
    height: 170px;
    border-radius: 7px;
    border: 1px solid #ddd;
    margin: 30px 0px;

}

.dede input[type="number"] {
    width: 100%;
    display: block;
    margin-bottom: 30px;
}
.dede select {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    outline: none;
    padding: 0px 15px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid #ddd;

}

.dede input[type="checkbox"] {
    width: 15px;
    height: 15px;
}



.dede button {
    /*display: block;*/
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 160px;
    background: #165666;
    color: #fff;
}

.last-mod-arsy .about-teatcher h2 {
    font-size: 18px;
    color: #165666;
    font-weight: bold;
    position: relative;
    margin-top: 40px;
    margin-bottom: 35px;
}

.last-mod-arsy .about-teatcher h2:after {
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    background: #ddd;
    top: 154%;
    right: 12px;
}

.last-mod-arsy .about-teatcher p {
    line-height: 24px;
    text-align: justify;
    font-size: 13px;
    margin-bottom: 60px;
}

.last-mod-arsy .advertising2-car-2 .caarss {
    padding: 15px;
    margin-top: 25px;
    background: #fff;
}

.last-mod-arsy .Request button {
    width: initial;
    background: none;
    color: #165666;
    font-size: 14px;
    border-radius: 0px;
    font-weight: bold;
    padding-right: 15px;
    padding-bottom: 10px;
    width: 100%;
}

button.filter.active {
    color: #b9b1b1;
    border-bottom: 1px solid #165666;

}

.last-mod-arsy .Request button i {
    color: #ffb200;
    margin-left: 3px;
}

secrion.mod-arsy {
    background: #f9f9f9;
    display: -webkit-box;
    padding-bottom: 50px
}

.last-mod-arsy .advertising2-car-2 .caarss h3 a {
    font-size: 15px;
    font-weight: bold;
}

.last-mod-arsy .advertising2-car-2 .caarss h3 {
    margin-top: 0px;
    margin-bottom: 20px
}

last-mod-arsy .advertising2-car-2 .caarss p {
    font-size: 13px;
    line-height: 25px;
    margin-bottom: 25px;
}

.last-mod-arsy .advertising2-car-2 .caarss li {
    width: 24%;
    text-align: center;
}

.last-mod-arsy .advertising2-car-2 .caarss li span i {
    padding: 0px;
    margin: 0px;
}

.last-mod-arsy .advertising2-car-2 .caarss li a {
    color: #000;
    text-decoration: none;
}

.last-mod-arsy .advertising2-car-2 .caarss li a span {
    color: #325c94;

}

.last-mod-arsy .Request hr {
    margin-top: 0px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

.modarsyy-1 .forme a {
    width: 70%;
    display: block;
    height: 45px;
    line-height: 45px;
    text-align: center;
    margin: auto;
    text-decoration: none;
    background: #165666;
    color: #fff;
    font-size: 18px;
    border-radius: 30px;
    margin-bottom: 150px;
}
.modarsyy-1 .form input[type="password"]{
    padding: 0px 126px 0 0;

}
.modarsyy-1 .form input[type="email"] {
    width: 100%;
    border: 1px solid #eee;
    background: #fff;
    padding: 0px 126px 0 0;
    height: 44px;
    margin-bottom: 30px;
    outline: none;
    border-radius: 47px;
}

.btn1 {
    height: 36px;
    color: #fff;
    text-align: center;
    line-height: 24px;
    text-decoration: none;
    border-radius: 30px;
    margin: 0 10px !important;
}
.btn1 .badge {
    position: relative;
    /*top: -1px;*/
}

.t_hours {
    border-radius: 30px;
    border: solid #ddd 2px;
    padding: 2px 10px;
}
.notie-container {
    box-shadow: none;
}

.input1{
    border: 1px solid #eee;
    background: #fff;
    padding: 0px 10px;
    height: 44px;
    margin-bottom: 30px;
    outline: none;
    border-radius: 47px;
    text-align: center;
    width:100%;
    color: #666;
}
.input1[type="submit"]{
    background-color: #eee;
    color: #666;

}
.input1[type="submit"]:hover{
    background-color: #ddd;
    color: #00bcd4;
}
.symbol {
    display: inline-block;
    border-radius: 50%;
    border: 5px double white;
    width: 30px;
    height: 30px;
}

.symbol-empty {
    background-color: #ccc;
}

.symbol-filled {
    background-color: black;
}


.list1{
    list-style: none !important;
}


ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.help-block {
    display: block;
    margin-top: -25px;
    margin-right: 118px;
    color: #d20808;
}

comming_offers,
.special_messages{
    background-color: #f9f9f9;
    margin: 30px 0px
}

.comming_offers .inner_offers {
    background-color: #fff;
    padding: 10px 25px;
    margin-top: 30px;
    display: inline-block;
    width: 100%
}

.comming_offers h3 {
    font-size: 18px;
    color: #165666;
    font-weight: bold
}

.comming_offers .text {
    font-size: 16px;
    color: #000;
    margin-top: 15px
}

.comming_offers .bottom {
    margin-top: 30px;
    border-top: 1px solid #000;
    padding: 20px 0px;
    padding-bottom: 30px;
    font-weight: bold
}

.comming_offers .bottom span {
    position: absolute;
    background-color: #fdbb1d;
    color: #000;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    right: 70%;
    top: -8px;
}

.comming_offers .bottom i {
    color: #165666;
    font-size: 20px
}


/*.{}*/

.bottom i.fa.fa-check-circle {
    top: 4px;
    position: relative;
}


.special_messages textarea{ width: 100%; border-radius: 10px; padding: 10px; height: 130px; resize: none; outline: none; border-color: #dedede; margin-bottom: 20px }
.special_messages .file-upload__label{ border:1px solid #165666; background-color: #dedede; cursor: pointer; border-radius: 20px}
.special_messages .file-upload__label {color: #000}
.special_messages input[type="submit"]{color: #fff; background-color: #165666; width: 100%; text-align: center; border:none; padding: 13px 0px; border-radius: 20px; margin: 20px 0px}




.inner_message .col-md-2 i{ width: 100%; color:#dedede; font-size: 70px }
.inner_message .col-md-10 { font-weight: bold; font-size: 14px ; line-height: 30px}
.inner_message .col-md-10 ul { list-style: none; float: right; padding:0px; margin-top: 15px}
.inner_message .col-md-10 li { float: right; margin-left:15px}
.inner_message .col-md-10 li i{color: #eaaa15; font-size: 17px}
.inner_message .col-md-8 { padding-right: 0px}
.inner_message .red_special{ margin-top: 15px }
.red_special{color: #eaaa15}



.inner_message{margin: 15px 0px; display: inline-block; width: 100%; clear: both; background-color: #fdfdfd; padding: 10px 20px; border-radius: 4px}


.form_n label {
    background-color: #e5e4e4;
    color: #636363;
    font-size: 13px;
    border-radius: 0px 15px 15px 0px;
    width: 100%;
    text-align: center;
    height: 43px;
    line-height: 43px;
    border: 1px solid #cac8c8;
}

.form_n .col-md-3 {
    padding: 0px
}

.form_n .col-md-9 {
    padding: 0px
}

.form_n .col-md-9 input {
    width: 100%;
    resize: none;
    outline: none;
    height: 43px;
    border-right: none;
    position: relative;
    z-index: 999;
    border-radius: 15px 0px 0px 15px;
}

.form_n textarea {
    width: 100%;
    height: 143px;
    border-right: none;
    border-radius: 15px;
    position: relative;
    z-index: 999;
    padding: 10px;
    border: 1px solid #cac8c8;
    resize: none;
    outline: none;
}

.form_n select {
    width: 100%;
    height: 43px;
    outline: none;
    position: relative;
    z-index: 999;
    border-right: none;
    border-radius: 15px 0px 0px 15px;
    border: 1px solid #cac8c8;
}

.file-upload {
    position: relative;
    display: inline-block;
    width: 100%;
    position: relative;
    z-index: 999;
}

.file-upload__label {
    display: block;
    padding: 1em 2em;
    background-color: #dedede;
    border-radius: 2.4em;
    transition: background .3s;
    margin-bottom:20px;
}

.file-upload__input {
    position: absolute;
    left: 5px;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 16px;
    width: 0;
    height: 100%;
    opacity: 0;
}

.footer-social-icons {
    width: 100%;
    margin: 0 auto;
    background-color: #f9f9f9;
    display: inline-block;
    border: 1px solid #dedede;
    border-radius: 40px;
    padding: 10px;
}
.footer-social-icons h4{
    margin: 16px;
    float: right;
}

.social-icon {
    color: #fff;
    float: left;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;

}
.social-icons a {
    color: #fff;
    text-decoration: none;
    margin:0 4px;
}
.social-icons .fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
    border-radius: 50%;


}
.social-icons .fa-facebook:hover {
    background-color: #3d5b99;
}
.social-icons .fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
    border-radius: 50%;

}
.social-icons .fa-linkedin:hover {
    background-color: #0073a4;
}


.left_header {
    list-style: none;
}

.left_header > li {
    float: right;
    position: relative;
    cursor: pointer;

}

.left_header > li a i{
    /*width: 40px;*/
}

.left_header i{
    font-size:18px;
}

.sub-menu-left {
    text-align: center;
    position: absolute;
    color: red;
    background-color: #212121;
    z-index: 9;
    list-style: none;
    padding: 0px;
    padding: 0px;
    left: 50%;
    top: 90px;
    min-width: 160px;
    border-radius: 7px;
    transform: translate(-50%, -50%) scale(.7, .7);
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-in-out;
    left: 50%;
}

.sub-menu-left a {
    color: #fff;
    transition: all .5s ease-in-out;
    width: 100%;
    padding: 10px 0px;
    display: inline-block;
}

.sub-menu-left a:hover {
    color: #fff;
    transition: all .5s ease-in-out;
    width: 100%;
    display: inline-block;
}

.sub-menu-left a:hover {
    background-color: #eaaa15
}

.user_hover:hover .sub-menu-left {
    visibility: visible;
    transform: translate(-50%, -50%) scale(1, 1);
    opacity: 1
}

.left_header > li {
    padding: 0px 8px;
    color: #165666;
}

.user_hover{
    border:1px solid #afafaf;
    margin: -10px 17px;
    padding: 4px;
    border-radius: 16px;
}

.user_hover img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: left;
    position: relative;
    margin-left: -7px;
    border: 2px solid #fff;
}

.user_hover span {
    font-weight: bold;
    margin: 0 15px;
    line-height: 2.2em;
}

.user_hover span i {
    margin-right: 2px
}

.lang_box {
    position: absolute;
    width: 250px;
    z-index: 9;
    border: 1px solid #dedede;
    color: #165666;
    text-align: right;
    list-style: none;
    padding: 10px;
    background-color: #f5f5f5;
    display: none;
    top: 101px;
    left: 50%;
    transform: translate(-50%,-50%);
}


.flag {
    width: 18px;
    height: 13px;
    background:url('../images/flags.png') no-repeat;
    margin-bottom: 4px;
}

.flag.flag-ar {background-position: -71px -935px}
.flag.flag-en {background-position: -35px -25px}


a:hover, a:focus{
    text-decoration: none;
    /*color: rgb(0, 0, 0);*/
}


.rating fa{
    color: #ffdf05;
}


.notifications .badge{
    position: absolute;
    bottom: 10px;
    left: -7px;
}


.questions .inner {
    margin: 9px 0px;
    clear: both;
    display: -webkit-box;
}

.questions {
    margin: 30px 0px
}

.questions img {
    width: 100%;
    height: 146px;
    transition: all .6s ease-in-out;
    border: 1px solid #f3f3f3;
}

.questions h3 {
    margin-top: 0px;
    height: 28px;
    overflow: hidden;
    line-height: 30px;
    padding-top: 0px;
    color: #165666;
    font-size: 18px;
    font-weight: bold;
    transition: all .5s ease-in-out
}

.questions .text {
    color: #000;
    font-size: 15px;
    line-height: 30px;
    /*height: 55px;*/
    /*overflow: hidden;*/
}

.questions .time {
    font-weight: bold;
    margin-top: 15px
}

.questions .time i {
    color: #eaaa15;
}


.infos_3 .editable{
    padding: 0px 15px;
    border-radius: 0;
    border: 0;
    margin: 0 0 0 0px;
    color: #eaaa15;
    font-weight:bold;
    -webkit-box-shadow: none;
     box-shadow: none;
}