li.qw:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 0px;
    background: #eaaa15;
    right: -5px;
    bottom: -20px;
    transition: all .4s;
}
li.qw:hover:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #eaaa15;
    right: 0px;
    bottom: 0px;
    display: block;
}
.col-md-6.col-xs-12.right-right {
    float: left;
}
ul.dropdown-menu.inner li {
    text-align: right;
}

.heder-top-right p {
    float: left;
}.bot-com-2 {
    float: left;
    margin-right: 20px;
}
span i {

    margin-right: 11px
}
.heder-top-right {
    float: left;
}
.heder-top-left a {
    margin-left: 6px;
}
.segin.wow.fadeInDown {
    float: left;
}
.navbar-default .navbar-nav > li > a{
    padding-left: 25px;
    padding-right: 25px;
}
button.but-2 {
    margin-right: 16px;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    text-align: right;
}
.bootstrap-select.btn-group .dropdown-toggle .caret {
    left: 20px;
    right: auto;
}
.caret {
    margin-left: 2px;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
}
button.slid-but-2 {
    margin-right: 31px;
}
span.tit-icon i {
    margin-left: 26px;
    
}
.cors-1 {
    right: 160px;
}
span.Client-img {
    float: right;
    margin-left: 10px;
}
i.fa.fa-comments {
    left: 25px;
}
.clint-right:after {
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    right: 30px;
}
.owl-dot {
    margin-left: 10px;
}
.conect-me i {
    margin-left: 13px;
}
.list-unstyled i {
    margin-left: 10px;
    transition: .3s all;
}

.list-unstyled li:hover i {
    margin-left: 15px;
}
.footer-bottom-img {
    float: left;
}
@media (min-width:0px)and (max-width:458px){


    .bootom ul.list-inline {
    margin-right: 11px;
}

   .heder-top-right p {

    margin-right: 20px;

}
    

    ul.nav.navbar-nav.text-center.nna {
    text-align: right;
}
   .cors-1 {

    right: 160px;
}

    .navbar-toggle {
    margin-left: 0px;
}

}

@media (min-width:459px) and (max-width:767px)

{

    ul.nav.navbar-nav.text-center.nna {
    text-align: right;
}
    .cors-1 {
    right: 160px;
}
    .navbar-toggle {
    margin-left: 0px;
}

}
@media (min-width:768px) and (max-width:991px)

{
   .navbar-default .navbar-nav > li > a {
    padding-left: 15px;
    padding-right: 15px;
}

}

@media (min-width:992px) and (max-width:1199px)
{
   .navbar-default .navbar-nav > li > a {
    padding-left: 15px;
    padding-right: 15px;
}
	
}
.left_header > li {
    float: left;
}

.comming_offers .bottom span{
    right:18px;
}